<configuration>
	<appSettings>
		<add key="SourceFolder" value="D:\aaa_Applications\Games\GOG Galaxy\Games\Star Wars Jedi Knight - Jedi Academy\GameData\makermod\Scripts\src" />
		<add key="BinFolder" value="D:\aaa_Applications\Games\GOG Galaxy\Games\Star Wars Jedi Knight - Jedi Academy\GameData\makermod\Scripts\bin" />
		<add key="DelayMs" value="30" />
	</appSettings>
</configuration>