<configuration>
	<appSettings>
		<!-- The folder which the scripts will be read from -->
		<add key="SourceFolder" value="D:\aaa_Applications\Games\GOG Galaxy\Games\Star Wars Jedi Knight - Jedi Academy\GameData\makermod\Scripts\src" />
		
		<!-- The folder which the scripts will be written to -->
		<add key="BinFolder" value="D:\aaa_Applications\Games\GOG Galaxy\Games\Star Wars Jedi Knight - Jedi Academy\GameData\makermod\Scripts\bin" />
		
		<!-- Delay in milliseconds -->
		<add key="Delay" value="10" />
	</appSettings>
</configuration>